*{
    margin: 0;
    padding: 0;
}

/* shared css */

.container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}



.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content{
    justify-content: space-between;
}

.justify-arround{
    justify-content: space-between;
}

.text-align{
    text-align: center;
}

.text-align-right{
    text-align: right;
}



.btn-w{
    padding: 20px 25px;
    background: #ffff;
    color: #005FAC;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}










/* main  css */




body{
    font-family: "Work Sans", sans-serif;
}



.header{
    background: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.hero-section{
    padding-top: 216px;
    padding-bottom: 166px;
}

.hero-section .hero-content h1{
    width: 525px;
    margin-left: auto;
    font-size: 65px;
    color: #ffff;
    margin-bottom: 24px;
}

.hero-section .hero-content p{
    width: 494px;
    margin-left: auto;
    line-height: 26px;
    color: #ffff;
    margin-bottom: 32px;
}









.about-section{
    padding-top: 130px;
    gap: 87px;
}



.about-image {
    position: relative;
}

.about-section .about-image img{
    max-width: 569px;
}

.about-image:before {
    content: '';
    width: 527px;
    height: 527px;
    display: block;
    position: absolute;
    left: 23px;
    bottom: 3px;
    border-radius: 50%;
    background: #f15b2266;
    z-index: -1;
}


.about-content h3{
    font-size: 40px;
    color: #151414;
    width: 288px;
    margin-bottom: 24px;
}

.about-content p{
    color: #444343;
    line-height: 28px;
}
.about-content .paragraph{
    margin-bottom: 16px;
    width: 416px;
}

.about-content .about-list p{
    margin-bottom: 8px;
}

.about-content .about-list p i{
    color: #16D887;
}





.plans{
    margin: 130px 0;
}

.plan-title h2{
    text-transform: capitalize;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}


.plan-card img{
    width: 92px;
    margin-bottom: 30px;
}


.skill-con h5{
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}

.skill-con p{
    color: #737272;
    font-weight:400; 
}






.call{
    margin-bottom: 130px;
}

.call-section{
    background: url("/images/gradient1.png") , url("/images/watch.png");
    background-position: top left;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: cover;
    border-radius: 5px;
}

.call-content{
    padding: 60px 65px;
    width: 459px;
}

.call-content h2{
    font-size: 40px;
    color: #ffff;      
    margin-bottom: 25px;
}




.footer{
    background: #151414;
}
.footer-section{
    padding: 130px 0;
}

.footer-des{
    width: 485px;
}


.f-content h2{
    color: #ffff;
    font-size: 45px;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.f-content p{
    color: #ffff;
    line-height: 28px;
    margin-bottom: 24px;
}

.f-mail p{
    color: #ffff;
    margin-bottom: 16px;
}

.f-icons{
    margin-top: 32px;
}

.f-icons a{
    margin-right: 17px;
}


.f-subscribe h5{
    font-size: 25px;
    font-weight:500;
    color: #fff;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.f-form input[type="email"]{
    width: 100%;
    background: transparent;
    border: 1px solid #F3F3F3;
    padding: 21px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 16px;
}

.submit{
    background: #005FAC;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}
